doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Hello World

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='bower_components/bespoke-fx/src/animations.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section(id="cover")
        h2 Perkembangan Spesial Efek Film dari Masa ke Masa

      section
        p Efek spesial merupakan salah satu elemen penting dalam dunia perfilman
        p Efek spesial merupakan kombinasi dari seni dan teknologi
        p Efek spesial digunakan untuk meningkatkan dampak suatu obyek terhadap indera manusia
        p Obyek tersebut bisa berupa tontonan, gambar, atau pertunjukan.
        p Menonton film tanpa ada efek spesial ibarat memakan sayur tanpa garam
        p Seiring dengan perkembangan teknologi, efek spesial juga mengalami perubahan dari masa ke masa
        
      section(data-bespoke-fx-transition="flip")
        ul
            h3 List Spesial Efek
            
            li Stop Action (1895)
            li In Camera Matte (1903)
            li Glass Shot (1907)
            li Travelling Matte (1913)
            li Matte Pinting (1915)
            li Wiliam Process (1922)
            li Schufftan Process & Rear Projection (1926)
            li Cloud Tank (1947)
            li Motion Control (1948)
            li Front Projection (1968)
            li Zoptics (1978)
            li Electronic Composite (1980)
            li Introvision (1981)
            li 3D Computer Graphics in a Composite (1985)
            li Live-Action 3D (2009)

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/bespoke-fx/dist/bespoke-fx.min.js')
    script(src='bower_components/bespoke-fx/libs/modernizr/modernizr.custom.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild
      
