doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Hello World

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='bower_components/bespoke-fx/src/animations.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section(id="cover")
        h2 Perkembangan Efek Spesial Film dari Masa ke Masa

      section(data-bespoke-fx-transition="flip" id="pengantar")
        ul
          li Efek spesial adalah elemen penting dalam dunia perfilman, musik, dan pertunjukan lainnya
          li Efek spesial merupakan kombinasi dari seni dan teknologi
          li Efek spesial digunakan untuk meningkatkan dampak suatu obyek terhadap indera manusia
          li Seiring dengan perkembangan teknologi, efek spesial juga mengalami perubahan dari masa ke masa
        
      section(data-bespoke-fx-transition="flip")
        h3 List Efek Spesial
        ul
          li Stop Action (1895)
          li In Camera Matte (1903)
          li Glass Shot (1907)
          li Travelling Matte (1913)
          li Matte Pinting (1915)
          li Wiliam Process (1922)
          li Schufftan Process & Rear Projection (1926)
          li Cloud Tank (1947)
          li Motion Control (1948)
          li Front Projection (1968)
          li Zoptics (1978)
          li Electronic Composite (1980)
          li Introvision (1981)
          li 3D Computer Graphics in a Composite (1985)
          li Live-Action 3D (2009)

      section(data-bespoke-fx-transition="fall")
            h3 Stop Action (1895)

            ul
              li Spesial efek tertua yang pernah ada. 
              li Digunakan pertama kali pada film "The Execution of Mary, Queen of Scots".
              li Teknik ini digunakan ketika ratu akan dihukum pancung.

      section(data-bespoke-fx-direction="vertical")
            video(controls,src="videos/stopaction.mp4",width="720px",poster="images/execution_of_mary.jpg")

      section(data-bespoke-fx-transition="fall")
            h3 In Camera Matte (1903)

            ul
              li Merupakan langkah besar dalam perkebangan spesial efek film berikutnya
              li Digunakan pertama kali pada film "The Great Train Robbery"
              li Digunakan untuk mengaburkan bagian dari suatu gambar dalam sebuah film dan memungkinkan gambar lain untuk diganti, untuk memasukkan detail ke jendela kereta api untuk memberikan efek bergerak.

      section(data-bespoke-fx-transition="fall")
            h3 Glass Shot (1907)

            ul
              li Teknik Glass Shot pertama kali digunakan pada film "The Missions of California".
              li Sutradara film tersebut Norman Dawn Menginginkan film sesuai yang ada di benaknya. 
              li Untuk melakukan itu, Dawn meletakan kaca di depan kamera dan menggantungkannya.
              li Dampaknya Gambar Lebih Mulus.

      section(data-bespoke-fx-transition="fall")
            h3 Travelling Matte (1913)

            ul
              li Teknik ini pada dasarnya menggabungkan beberapa adegan.
              li Teknik Travelling Matte ini pertama kali digunakan pada film "Barney Oldfield's Race for Life".
              li Dalam film ini Barney harus menyelamatkan perempuan dari sebuah kereta yang melaju kencang.
              li Tentu saja itu terlalu berbahaya untuk menempatkan aktor di jalan kereta melaju, sehingga teknik ini digunakan.

      section(data-bespoke-fx-transition="fall")
            h3 Matte Painting (1915)

            ul
              li Teknik ini dipionir oleh Norman dawn.
              li Tempat khayalan yang ingin diambil gambarnya.
              li Dibuat backdrop sesuai khayalan tersebut.

      section(data-bespoke-fx-direction="vertical")
          
            img(src="images/Matte_Printing.jpg",width="720px") 
            img(src="images/Government_Warehouse.jpg",width="720px")


    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/bespoke-fx/dist/bespoke-fx.min.js')
    script(src='bower_components/bespoke-fx/libs/modernizr/modernizr.custom.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild
      
